@font-face {
  font-family: "south-crew.ttf";
  src: url(../font/SOUTH-CREW.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: blueviolet;
}

.sobre {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#paragraph {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "south-crew.ttf";
  font-size: 45px;
}
#sobre-paragraph {
  width: 400px;
}
.sobre p {
  color: #fff;
  margin-top: 20px;
  text-align: center;
  width: 700px;
}
section {
  overflow: hidden;
}
footer {
  margin-top: 140px;

  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
footer img {
  width: 150px;
  height: 150px;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#1f0036, #440075);
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
#logo {
  font-size: 58px;
  font-family: "south-crew.ttf";
  display: flex;
  margin: 10px;
  justify-content: center;
}
#nav {
  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Roboto";
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ffffff;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #ffffff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
#btn-mobile {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  footer {
    margin-top: 49px;
  }
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #1f0036;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 58px);
    visibility: visible;
  }
  #menu li {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-bottom: #000000;
  }
  .sobre p {
    font-size: 14px;
  }
  footer {
    margin-top: 113px;
  }
}
@media (max-width: 425px) {
  .sobre h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  section {
    height: 420px;
  }
  .sobre p {
    margin-top: 15px;
    font-size: 12px;
  }
  #sobre-paragraph {
    margin-top: 25px;
    font-size: 14px;
    width: 300px;
  }
  footer {
    margin-top: 32px;
  }
}
@media (max-width: 375px) {
  .sobre p {
    font-size: 11px;
  }
}
