@font-face {
  font-family: "south-crew.ttf";
  src: url(../font/SOUTH-CREW.ttf);
}
@font-face {
  font-family: "blank-river.ttf";
  src: url(../font/Blank-River.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

header {
  height: 100vh;
  width: 100%;
  background-image: url(../img/FUNDO.png);
  background-size: cover;
  background-position: center;
}
.orcamento button a {
  color: white;
  text-decoration: none;
}
.logo a {
  color: white;
  font-family: "south-crew.ttf";
  font-size: 42px;
  display: flex;
  justify-content: center;
  padding: 30px;
  text-decoration: none;
}

span {
  color: blueviolet;
}

.bem-vindo {
  display: flex;
  justify-content: center;
}

.bem-vindo img {
  max-width: 250px;
}

.orcamento h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "blank-river.ttf";
  color: rgb(255, 255, 255);
  font-size: 42px;
}
.orcamento button {
  display: flex;
  margin: 0 auto;
  background-color: #7815c4;
  padding: 10px 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto Slab";
  margin-top: 5px;
}

#nav {
  color: white;
  display: flex;
  justify-content: space-around;
}

#menu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Roboto";
}
#menu a {
  color: white;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ffffff;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #ffffff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
@keyframes anima {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}
#btn-mobile {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  animation-name: anima;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 1024px) {
  .nav ul {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    background: #1f0036;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 58px);
    visibility: visible;
  }
  #menu li {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-bottom: #000000;
  }
  #menu li a {
    color: white;
  }
  #nav {
    display: flex;
    justify-content: space-around;
  }
  .logo a {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .logo a {
    font-size: 30px;
    padding: 10px;
  }

  .bem-vindo img {
    width: 200px;
    margin: 0;
    padding: 0;
  }
  .orcamento h1 {
    font-size: 30px;
  }

  .orcamento button {
    width: 150px;
    font-size: 16px;
  }
}
