@font-face {
  font-family: "south-crew.ttf";
  src: url(../font/SOUTH-CREW.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: blueviolet;
}

.sobre {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sobre h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "south-crew.ttf";
  font-size: 45px;
}
.sobre p {
  color: #fff;
  margin-top: 50px;
  text-align: center;
}
section {
  height: 370px;
  overflow: hidden;
}
footer {
  width: 100%;
  height: 150px;
  margin-top: 169px;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
footer img {
  width: 150px;
  height: 150px;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#1f0036, #440075);
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
#logo {
  font-size: 58px;
  font-family: "south-crew.ttf";
  display: flex;
  margin: 10px;
  justify-content: center;
}
#nav {
  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
#btn-mobile {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
  footer {
    margin-top: 82px;
  }
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #1f0036;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 58px);
    visibility: visible;
  }
  #menu li {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-bottom: #000000;
  }
  .sobre p {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .sobre h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  section {
    height: 420px;
  }
  .sobre p {
    margin-top: 15px;

    font-size: 12px;
  }
  footer {
    margin-top: 32px;
  }
}
@media (max-width: 375px) {
  .sobre p {
    font-size: 11px;
  }
}
