@font-face {
  font-family: "south-crew.ttf";
  src: url(../font/SOUTH-CREW.ttf);
}
@font-face {
  font-family: "blank-river.ttf";
  src: url(../font/Blank-River.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: blueviolet;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#1f0036, #440075);
  background-repeat: no-repeat;
}

.sobre {
  padding-bottom: 40px;
}

.sobre p {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "blank-river.ttf";
  font-size: 55px;
}
.redes-sociais {
  display: flex;
  flex-direction: column;
}
.redes-sociais img {
  width: 300px;
  height: 300px;
}
.btn-rds {
}
.btn-rds button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 18px;
}
.instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Roboto";
}
.whatsapp {
  background: green;
  color: #fff;
  border: none;
  cursor: pointer;
}
.localizacao {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.localizacao img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin-top: 20px;
}
.localizacao button {
  height: 40px;
  width: 150px;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 18px;
}
.red {
  color: red;
}
.localizacao a {
  color: rgb(255, 255, 255);
}
.container {
  margin-top: 50px;

  display: flex;
  justify-content: space-around;
  text-align: center;
}
footer {
  height: 103px;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
}
#prev {
  left: 5%;
  top: 45%;
}
#next {
  right: 5%;
  top: 45%;
}
#close {
  top: 5%;
  right: 2%;
}
#space {
  margin: 10px;
}
section {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: blueviolet;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#1f0036, #440075);
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
#logo {
  font-size: 58px;
  font-family: "south-crew.ttf";
  display: flex;
  margin: 10px;
  justify-content: center;
}
#nav {
  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Roboto";
}
#btn-mobile {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ffffff;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #ffffff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

footer img {
  width: 150px;
  height: 150px;
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #1f0036;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 58px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu li {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-bottom: #000000;
  }
  .container {
    flex-direction: column;
  }
  .redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }
}
