@font-face {
  font-family: "south-crew.ttf";
  src: url(../font/SOUTH-CREW.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: blueviolet;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#1f0036, #440075);
  background-repeat: no-repeat;
}

.sobre {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sobre h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "south-crew.ttf";
  font-size: 45px;
}
.min {
  width: 250px;
  padding: 10px;
  border-radius: 15px;
}
.min:hover {
  transform: scale(1.1);
}

.lbox {
  visibility: hidden;
  opacity: 0;
}
.lbox:target {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_img {
  width: 500px;
  margin: auto;
}
.box_img img {
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 5px;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-align: center;
}
#prev {
  left: 5%;
  top: 45%;
}
#next {
  right: 5%;
  top: 45%;
}
#close {
  top: 5%;
  right: 2%;
}
section {
  overflow: hidden;
  height: 800px;
}

@font-face {
  font-family: "south-crew.ttf";
  src: url(../font/SOUTH-CREW.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: blueviolet;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(#1f0036, #440075);
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
#logo {
  font-size: 58px;
  font-family: "south-crew.ttf";
  display: flex;
  margin: 10px;
  justify-content: center;
}
#nav {
  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Roboto";
}
#btn-mobile {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #1f0036;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 58px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu li {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-bottom: #000000;
  }
  section {
    height: 1500px;
  }
}
@media (max-width: 425px) {
  section {
    height: 3500px;
  }
}
